.faqContainer {
    position: relative;
    z-index: 555;
}

.faq {
    transition:0.5s;
    color: var(--main-color);
    background-color: white;
    position: relative;
    z-index: 555;
}

    .faq .sub{
            cursor:pointer;
            padding: 15px;
            gap: 10px;
            position: relative;
    }
    .faq .content {
        border: solid 1px rgba(0, 0, 0, 0.179);
    }
.faq > .icons {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translatey(-50%);
                font-size: 30px;
                -webkit-transform: translatey(-50%);
                -moz-transform: translatey(-50%);
                -ms-transform: translatey(-50%);
                -o-transform: translatey(-50%);
}
.faq  .title {
            padding: 15px 15px;
            border: solid 1px rgba(0, 0, 0, 0.046);
            font-weight: 200;
            color: var(--gray-color);
        }

        .FaqVector {
            position: absolute;
            top: 2rem;
            right: -12rem;
        }

        .FaqVector img {
            width: 400px;
        }

        .FaqVector2 {
            position: absolute;
            top: 15rem;
            left: 0rem;
        }
 
        .FaqVector2 img {
            width: 310px;
        }


        @media (max-width:700px) {
            .FaqVector,.FaqVector2 {
                display: none;
            }
        }