.customPackageContainerContainer {
padding-top: 120px!important;
padding-bottom: 40px!important;
}

.customPackageContainerBox {
    background-color: var(--secondary-color-yellow);
    height: 250px;
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 85%;
    margin: auto;
   
}

.customPackageContainerBox  h6 {
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    color: white;
}

.customPackageContainerBox h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    padding: 0 20px;
}

.customPackageContainerBox > button {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: var(--third-color-pink) 0px 25px 50px -12px;
}

.customPackageContainerBox button a {

    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
    text-align: center;
}


@media (max-width:1200px) {
    .customPackageContainerContainer {
        padding-top: 150px!important;
    }
}


@media (max-width:700px) {
    .customPackageContainerContainer {
        padding-top: 60px!important;
    }
    .customPackageContainerBox h2 {
        font-size: 25px;   
    }
}

@media (max-width:600px) {

    .customPackageContainerContainer {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .customPackageContainerBox {
        width: 100%;
        height: 225px;
    }
    .customPackageContainerBox h6 {
        padding-top: 30px;
    }
    .customPackageContainerBox h2 {
        font-size: 20px!important;
    }
}

