

.companiesBoxes {
    column-gap: 150px;
    flex-wrap: wrap;
    z-index: 55555;
    position: relative;
}

.companiesBox {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}


.companiesBoxImg {
    width: 100px;
}

@media (max-width:900px) {
    .companiesBoxes {
        column-gap:50px;
    }
}
@media (max-width:590px) {
    .companiesBoxes {
        flex-direction: column;
    }
}