.aboutContentBox {
    background-color: var( --gray-color5);
    padding: 80px ;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 80px;
}
.aboutContentBox img {
    top: 80px;
    position: absolute;
    left: -5%;
    max-width: 100%;
}

.aboutContentBox h2 {
    margin: auto;
    font-weight: 400;
    width: 50%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.aboutContentBox p {
    width: 70%;
    margin: auto;
    text-align: center;
    color: var(--gray-color);
}


@media (max-width:800px) {
    .aboutContentBox h2 {
        font-size: 30px;
    }
}


@media (max-width:600px) {
    .aboutContentBox h2 {
        width: 100%;
    }
    .aboutContentBox p {
        width: 100%;
    }
    .aboutContentBox {
        padding: 40px;
    }
    .aboutContentBox h2 {
        font-size: 23px;
    }
}