.scroolToTop {
    max-width: 100vw;
}
  .none {
    opacity: 0;
    visibility: hidden;
  }
  .scroolToTop 
  a {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    z-index: 1000000;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

.ScrollToTopIcon {
    color: var(--secondary-color-yellow);
    font-size: 2rem!important;
  }