.whatsUp {
    max-width: 100vw;
}
  .none {
    opacity: 0;
    visibility: hidden;
  }
  .whatsUp 
  a {
    position: fixed;
    bottom: 40px;
    left: 40px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    z-index: 1000000;
  }

.WhatsAppIcon {
    color: var(--secondary-color-yellow);
    font-size: 40px!important;
  }