
.footerContactBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#090944;
    width: 70%;
    margin: auto;
    height: 250px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transform: translatey(110px);
    color: white;

}


.footerContactBox h6 {
    margin-bottom: 15px;
}

.footerContactBox h2 {
    margin-bottom: 20px;
    font-size: 30px;
}
.footerInputContainer {
    position: relative;
}

.footerContactBox input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    padding: 10px 30px;
}


.footerContactBox input::placeholder {
    width: 60%;
    font-weight: 200;
    font-size: 15px;
    position: absolute;
    top: 22%;
    left: 30px ;
    z-index: 5;
    color:var(--main-color);
    }

    .footerContactBox button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 22%;
        right: 30px;
        width: 20px;
    }


    .footer {
        color: white;
        padding-bottom: 0!important;
        padding-top:120px !important ;
        background-color: #08082e;
    }
    .footerTop {
        column-gap: 60px;
    }


    .footerAbout {
        width: 30%;
        gap: 20px;

    
    }

    .footerAbout img {
        margin-bottom: 20px;
    }

    .footerAbout p {
        line-height: 1.7;
        margin-bottom: 50px;
        font-weight: 200;
    }

    .footerOfficeMap {
        width: 30%;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 300;
    }

    .footerOfficeMap h4 {
        margin-bottom: 50px;
    }
    .footerMapContainer {
        width: 100%;
        text-align: center;
    }

    .footerMap {
        width: 300px;
    }
    .footerContact {
        width: 30%;
        margin-top: 20px;
        margin-left: 50px;
    }

    .footerContact h4 {
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    .footerContact {
        font-weight: 200;
    }

    .footerContactDesc {
        margin-bottom: 20px;
    }

    .footerHr {
        margin-bottom: 25px;
    }
    .footerNav {
        gap: 10px;
    }

    .footerPlatForms {
        gap: 10px;
    }

    .platFromsIcons {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: var(--main-color);
        color: white;
    }
    .platFormIconsicon {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
}

    .footerBottom {
        padding: 20px 0;
    }

    @media (max-width:800px) {
        .footerTop {
            flex-direction: column;
        }
        .footerAbout {
            margin: auto;
            width: 100%;
        }

        .footerAbout img {
            display: block;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .footerOfficeMap {
            width: 100%;
        }

        .footerOfficeMap h4 {
            text-align: center;
            margin-bottom: 30px;
        }
        .footerContact {
            width: 100%;
            margin-left: 0!important;
        }

        .footerContact h4 {
            text-align: center;
        }

        .footerContactInfo {
            text-align: center;
            margin-bottom: 30px;
        
        }

        .footerContactBox input {
            width: 250px;
        }
        .footerContactBox h2 {
            font-size: 25px;
        }
    }


    @media (max-width:650px) {
        .footerContactBox {
            width: 90%;
            height: 200px;
        }
            .footerContactBox h2 {
                font-size: 22px  !important;
            }
            .footerContactBox input {
                width: 200px;
            }
            .footerInputContainer button img {
                width: 80%;
            }
            .footerInputContainer button {
                top:31%
            }
            .footerBottom {
                flex-direction: column;
                gap: 35px;
            }
            .footerMap {
                width: 230px;
            }
    }