:root {
    --main-color:#00004D;
    --secondary-color-red:#FF3B2F;
    --secondary-color-orange:#FE9602;
    --secondary-color-yellow:#FFCB00;
    --secondary-color-green:#4ADB61;
    --secondary-color-sky:#5CC8FC;
    --third-color-blue:#007BFF;
    --third-color-mof:#5955D8;
    --third-color-pink:#FF2D59;
    --gray-color1:#081420;
    --gray-color:#6B6B6B;
    --gray-color2:#212C3A;
    --gray-color3:#70798B;
    --gray-color4:#ABAFC7;
    --gray-color5:#F3F4F6;
}
  html {
    overflow-x: hidden;
  }


  * {   
    margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Poppins', sans-serif;

  }
   body {
    position: relative;
    overscroll-behavior: none;
    scroll-behavior: auto;
    overflow-x: hidden;
  
  }

  .subHeader {
    font-size: 16px;
    color: var(--third-color-pink);
    text-align: center;
    margin-bottom: 25px;
    position: relative;
  }

  .subHeader::before {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--third-color-pink);
  }

  .subTitleHeader {
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 70px;  
}
.loading {
  cursor: not-allowed!important;
}

.err {
  font-weight: 200;
  font-size: 14px;
  color: var(--secondary-color-red);
}
.ConfirmationMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 555555555555;
  background-color: var(--third-color-blue);
  padding: 50px 100px;
  border-radius: 10px;
  color: white;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
}

.ConfirmationMessage button {
  padding: 5px 10px;
  background-color: var(--third-color-pink);
  color: white;
  border: none;
  margin:  auto;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.ConfirmationClose {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
  .ConfirmationMessage h2 {
    margin-bottom: 15px;
  }

.btnh:hover {
  background-color: var(--third-color-pink);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media (max-width:800px) {
  .subTitleHeader {
    font-size: 30px!important;
  }
}

@media (max-width:600px) {
  .subTitleHeader {
    font-size: 22px!important;
  }
  .ConfirmationMessage h2 {
    width: 225px;
  }
  .ConfirmationMessage {
    padding: 25px 50px;
  }
}
  
  
  
  .main-padding {
    padding: 80px;
    padding-bottom: 80px;
  }

  @media (max-width:1200px) { 
    .main-padding{
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
    }
  }
  
  
  ul {
    list-style-type: none;
  }
  a {
    color: unset;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .flex {
    display: flex;
  }
  
  .column {
    flex-direction: column;
  }
  
  .a-center {
    align-items: center;
  }
  
  
  .j-center {
    justify-content: center;
  }
  
  .j-between {
    justify-content: space-between;
  }
  .j-evenly {
    justify-content: space-evenly;
  }
  
  .gap {
    gap: 50px;
  }
  
  .gap-half {
    gap: 25px;
  }
  
  .gap-small {
    gap:10px
  }
  
  .text-center {
    text-align: center;
  }
  
  .half-width {
    height: 80vh;
  }
  
  .black {
    background-color: #222222;
  }
  
   .none {
    display: none;
   }
  
   .flex {
    display: flex;
   }
  
   .block {
    display: block;
   }
  
  
   ::-webkit-scrollbar {
    width:5px;
    background:white;
  }
  ::-webkit-scrollbar-thumb  {
    background:#FFCB00;;
  
  }

